





.finalizar {

    margin-left:10px;
  
  background-color: #884A39;
  border: none;
  color: rgb(255, 255, 255);
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 40px 703px;
  cursor: pointer;
  border-radius: 16px;



}

.finalizar:hover{
margin: 41px 704px;
 background: #C38154;

}

.card-image1 {
  position: relative;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background: #FFF;
  padding: 3px;
  margin-left:40px;
  
}

.card-image1 .card-img1 {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid #884A39;
  

}




.field{
margin-top:5px;
border-color: #884A39;
border-radius: 20px 20px 0px 20px;
height:230px;
width:220px;
margin-left: 3px;

background-color: #884A39;

}

.field1{
  background-color: #e7e7e7;
  height:30px;
  width:220px;
  border-radius: 0px 0px 0px 20px;
  margin-top: 19px;

}

.name1 {
  font-size: 18px;
  font-weight: 500;
  color: #333;
  margin-top: -10px;
}