/* Google Fonts - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #EFEFEF;
}

.slide-container {
  max-width: 1120px;
  width: 100%;
  padding: 40px 0;
}

.slide-content {
  margin: 0 40px;
  overflow: hidden;
  border-radius: 25px;
}

.card {
  border-radius: 25px;
  background-color: #e7e7e7;
}

.image-content,
.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 14px;
}

.image-content {
  position: relative;
  row-gap: 5px;
  padding: 25px 0;
}

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #884A39;
  border-radius: 25px 25px 0 25px;
}

.overlay::before,
.overlay::after {
  content: '';
  position: absolute;
  right: 0;
  bottom: -40px;
  height: 40px;
  width: 40px;
  background-color: #884A39;
}

.overlay::after {
  border-radius: 0 25px 0 0;
  background-color: #e7e7e7;
}

.card-image {
  position: relative;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background: #FFF;
  padding: 3px;
}

.card-image .card-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid #884A39;
}

.name {
  font-size: 18px;
  font-weight: 500;
  color: #333;
}

.description {
  font-size: 14px;
  color: #707070;
  text-align: center;
}

.button {
  border: none;
  font-size: 16px;
  color: #FFF;
  padding: 8px 16px;
  background-color: #884A39;
  border-radius: 6px;
  margin: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.button:hover {
  background: #C38154;
}

.swiper-navBtn {
  color: #C38154;
  transition: color 0.3s ease;
}

.swiper-navBtn:hover {
  color: #F9E0BB;
}

.swiper-navBtn::before,
.swiper-navBtn::after {
  font-size: 35px;
}

.swiper-button-next {
  right: 0;
}

.swiper-button-prev {
  left: 0;
}

.swiper-pagination-bullet {
  background-color: #FFC26F;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background-color: #F9E0BB;
}

@media screen and (max-width: 768px) {
  .slide-content {
    margin: 0 10px;
  }

  .swiper-navBtn {
    display: none;
  }
}

.ScreenUp {
  position: relative;
  background-color: white;
  margin-top: 35px;
  height: 80px;
  border-radius: 15px 15px 0px 0px;
}

.ScreenDown {
  position: relative;
  background-color: white;
  height: auto;
  /*470px*/
  border-radius: 0px 0px 15px 15px;
  border-top: 2px solid #bbb;
}

.Name {
  font-size: 50px;
}

/*Navigation Bar*/

.Nav {
  position: absolute;
  border-radius: 25px;
  width: 85%;
  height: 40px;
  left: 15%;
  top: 35px;
}

ul {
  list-style-type: none;
  overflow: hidden;
  border-radius: 15px 15px 0px 0px;
  
}

li {
  float: left;
  margin-right: -25px;
  border-left: 2px solid #bbb;
  border-top: 2px solid #bbb;
  border-radius: 15px 15px 0px 0px;
  
}

li:last-child {
  border-right: none;
}

li a {
  display: block;
  color: black;
  text-align: center;
  text-decoration: none;
  border-radius: 13px 13px 0px 0px;
  padding: 13px 60px;
  
}

.active {
  background-color: rgb(240, 240, 240);
}

li a:hover:not(.active) {
  background-color: #884A39;
  
  color: white;
}
.dot {
  height: 20px;
  width: 20px;
  float: left;
  margin-right: 20px;
  background-color: #bbb;
  border-radius: 50%;

}